<mat-toolbar color="primary">
  <span>Bienvenido ADMIN</span>
  <div class="toolbar-actions">
    <button mat-icon-button (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<hr class="divider" />

<div class="header-container">
  <h2 class="section-title">Partidos</h2>
  <button mat-raised-button color="primary" (click)="openDialog()">Nuevo Partido</button>
</div>

<table mat-table [dataSource]="partidos" *ngIf="partidos.length > 0" class="matches-table">
  <ng-container matColumnDef="visitante">
    <th mat-header-cell *matHeaderCellDef> Visitante </th>
    <td mat-cell *matCellDef="let partido">{{ partido.visitante }}</td>
  </ng-container>

  <ng-container matColumnDef="estadio">
    <th mat-header-cell *matHeaderCellDef> Estadio </th>
    <td mat-cell *matCellDef="let partido">{{ partido.estadio }}</td>
  </ng-container>

  <ng-container matColumnDef="temporada">
    <th mat-header-cell *matHeaderCellDef> Temporada </th>
    <td mat-cell *matCellDef="let partido">{{ partido.temporada }}</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let partido">{{ partido.fecha }}</td>
  </ng-container>

  <!-- Nueva columna acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let partido">
      <button mat-icon-button color="primary" (click)="openDialog(partido)" aria-label="Editar">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePartido(partido.matchId)" aria-label="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="partidos.length === 0" class="no-partidos-message">
  <p>No hay partidos para mostrar.</p>
</div>
