<mat-toolbar color="primary">
  <span>Bienvenido ADMIN</span>
  <div class="toolbar-actions">
    <button mat-icon-button (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<hr class="divider" />

<h2 class="text-2xl font-semibold my-6 text-primary" style="text-align: center;">
  Crear Nuevo Abono
</h2>

<div class="content-container">
  <div class="head">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Seleccionar Estadio</mat-label>
      <mat-select [(value)]="selectedStadium" (selectionChange)="loadMatches()">
        <mat-option *ngFor="let stadium of stadiums" [value]="stadium.id">{{ stadium.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Seleccionar Partido</mat-label>
      <mat-select [(value)]="selectedMatch">
        <mat-option *ngFor="let match of matches" [value]="match">{{ match }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Seleccionar Stand</mat-label>
      <mat-select [(value)]="selectedStand">
        <mat-option *ngFor="let stand of stands" [value]="stand.standId">{{ stand.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Precio</mat-label>
      <input matInput [(ngModel)]="standPrice" type="number" placeholder="Ingresa el precio">
    </mat-form-field>

    <div class="date-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="startDate" [(ngModel)]="startDateValue" />
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="endDate" [(ngModel)]="endDateValue" />
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Seleccionar Imagen</mat-label>
      <input type="file" (change)="onImageSelect($event)" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitOffer()">Crear Abono</button>
  </div>
</div>