<hr class="divider" />

<mat-toolbar color="primary">
  <span>Bienvenido ADMIN</span>
  <div class="toolbar-actions">
    <!-- Botón para ir al Home -->
    <button mat-icon-button (click)="navigateToHome()">
      <mat-icon>home</mat-icon> <!-- Ícono de Home -->
    </button>
    <!-- Botón para Logout -->
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon> <!-- Ícono de Logout -->
    </button>
  </div>
</mat-toolbar>

<div class="stadium-container">
  <h2 class="section-title">Estadios</h2>
  
  <button mat-raised-button color="primary" (click)="openAddStadiumDialog()">Agregar Estadio</button>
  
  <div *ngFor="let stadium of stadiums">
    <mat-card class="stadium-card">
      <h3>{{ stadium.name }}</h3>
      
      <h4>Tribunas</h4>
      <table mat-table [dataSource]="stadium.stands">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let tribuna">{{ tribuna.name }}</td>
        </ng-container>

        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef>Capacidad</th>
          <td mat-cell *matCellDef="let tribuna">{{ tribuna.capacity }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let tribuna">
            <button mat-button (click)="openAddTribunaDialog(stadium)">Editar</button>
            <button mat-button color="warn" (click)="deleteTribuna(stadium, tribuna)">Eliminar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'capacity', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'capacity', 'acciones'];"></tr>
      </table>

      <button mat-raised-button color="accent" (click)="openAddTribunaDialog(stadium)">Agregar Tribuna</button>
    </mat-card>
  </div>
</div>
