:host {
  display: block;
  min-height: 100vh;
  color: #bbbec3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* Para evitar que el contenido quede detrás de la barra de navegación */
body {
  padding-top: 80px;
}

/* Barra de navegación */
mat-toolbar {
  background-color: #2e74be;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: fixed; /* Fija la barra de navegación */
  top: 0; /* La coloca en la parte superior */
  left: 0; /* Asegura que esté alineada a la izquierda */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  padding: 0 20px; /* Ajusta el espaciado para que no esté demasiado pegado a los bordes */
}

/* Título de la sección */
.section-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

/* Estilo para el botón "Nuevo Partido" */
button.mat-raised-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #2e74be;
  color: white;
  border-radius: 5px;
}

button.mat-raised-button:hover {
  background-color: #1f5b8c; /* Cambio de color al pasar el mouse */
}

/* Estilos para los íconos en la barra de navegación */
.toolbar-actions button {
  margin-left: 10px;
  color: white;
}

/* Divider */
.divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Ajustes para la tabla */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

/* Estilo para los encabezados de tabla */
th.mat-sort-header {
  cursor: pointer;
}

/* Estilo para las filas de la tabla */
.mat-header-row, .mat-row {
  text-align: center;
}

/* Ajustes para la responsividad */
@media (max-width: 600px) {
  .mat-header-row, .mat-row {
    font-size: 14px;
  }
}
