:host {
  display: block;
  min-height: 100vh;
  color: #bbbec3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* Barra de navegación */
mat-toolbar {
  background-color: #2e74be;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: fixed; /* Fija la barra de navegación */
  top: 0; /* La coloca en la parte superior */
  left: 0; /* Asegura que esté alineada a la izquierda */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 4px 10px rgb(255, 255, 255); /* Sombra más suave */
  padding: 0 20px; /* Ajusta el espaciado para que no esté demasiado pegado a los bordes */
}

/* Contenedor principal */
.content-container {
  margin-top: 80px; /* Ajusta para que el contenido no quede debajo de la barra de navegación */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor para el botón de "Crear oferta" */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo para el botón de crear oferta */
.crear-oferta-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.crear-oferta-btn:hover {
  background-color: #a3b3c6;
}

/* Estilo para el título de "Ofertas de boletas" */
.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e5ea8; /* Cambié el color a un azul más destacado */
}

/* Estilo para las tarjetas de las ofertas */
.boletas-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si es necesario */
}

.oferta-card {
  background-color: #e2eaee; /* Fondo blanco para los cuadros */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más prominente */
  width: 22%; /* Ajuste de tamaño de los cuadros */
  text-align: center;
  font-size: 18px;
  border: 2px solid #1e5ea8; /* Borde azul para destacar los cuadros */
  transition: box-shadow 0.3s;
  color: #333; /* Color del texto (puedes elegir otro color más destacado) */
  font-family: 'Arial', sans-serif; /* Cambié la fuente por una más común y clara */
  font-weight: bold; /* Hacer el texto en negrita */
}

.oferta-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el mouse */
}

.oferta-card p {
  font-size: 18px; /* Aumenté el tamaño del texto de las ofertas */
  color: #386599; /* Cambié el color de la letra a un azul que resalta más */
}
