<p>admin-dashboard works!</p>
<div class="dashboard-container">
    <h1>Admin Dashboard</h1>
  
    <div class="dashboard-stats">
      <div class="stat">
        <h2>Total Sports Events</h2>
        <p>{{ totalSportsEvents }}</p>
      </div>
      <div class="stat">
        <h2>Total Subscriptions</h2>
        <p>{{ totalSubscriptions }}</p>
      </div>
    </div>
  
    <div class="dashboard-info">
      <h3>Dashboard Information</h3>
        <!-- Puedes mostrar la información general aquí -->
    </div>
  </div>
  