<mat-toolbar color="primary">
    <span>Bienvenido ADMIN</span>
    <div class="toolbar-actions">
      <button mat-icon-button (click)="navigateToHome()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>


  <hr class="divider" />

  <!-- Título y botón "Nuevo Partido" -->
  <div class="header-container">
    <h2 class="section-title">Creacion Ofertas Boletas <button mat-raised-button color="primary" >Nuevo Partido</button> </h2>
  </div>
  
<p>create-ticket-offers-page CREAR LAS OFERTAS DE LAS boletas!</p>
