<mat-toolbar color="primary">
  <span>Bienvenido ADMIN</span>
  <div class="toolbar-actions">
    <button mat-icon-button (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<hr class="divider" />

<h2 class="text-2xl font-semibold my-6 text-center text-primary-700">
  Crear Oferta
</h2>

<div class="boton-centro">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Seleccionar Partidos Creados
  </button>
</div>

